
html
    head
        title ::inbox::
        link(rel='stylesheet', href='webix/webix.email.css', type='text/css', media='screen', charset='utf-8')
        script(src='webix/webix.js', type='text/javascript', charset='utf-8')
        script.
            webix.require.disabled = true;
            webix.codebase = "http://cdn.webix.com/components/tinymce/";
        script(src="http://cdn.webix.com/components/tinymce/tinymce.js")
        script(src="http://cdn.webix.com/components/tinymce/tinymce/tiny_mce.js")
        script(src="lodash/lodash.min.js")
    body
        script.
            var gData = !{JSON.stringify(messages)};
            var gdocNames = !{JSON.stringify(docNames)};
            var appUserName = '#{username}';

        script(src="js/inbox.js")



