extends ./layout.jade

block title
    SECD 
    
block headScript
    script(src='js/ddp.js')
    script(src='js/nqm-bundle.js')
    script(src='js/webix-proxy.js')
    script(type="text/javascript").
        var _config = !{JSON.stringify(config)};
        var _folders = !{JSON.stringify(folders)};
        var appUsername = '#{username}';
    script(src='js/files.js')
    

block content